<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<style>
    *{
    padding:0;
    margin:0
    }
    h1{
    color:red;
    text-align:center;
    background:aqua;
    padding:10px;
    }
</style>
<h1>maintenance Mode is ON!</h1>
</body>
</html>